.App {
  text-align: center;
  padding: 20px; /* Add padding around the entire App */
  background-color: linen;
}

.custom-button {
  background-color: gray; /* Change to your desired color code */
  color: black; /* Text color */
  padding: 10px 20px; /* Adjust padding as needed */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Define additional styles for hover and active states if desired */
.custom-button:hover {
  background-color: rgb(59, 158, 228); /* Change to a different color on hover */
}

.custom-button:active {
  background-color: green; /* Change to a different color on click/active state */
}

.text-input-container {
  margin-top: 20px; /* Add margin at the top of the text input container */
}

.custom-input {
  width: 200px;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: white; /* Change to your desired color code */
  border-radius: 5px;
  color: black;
}